.body-border {
    border: 5px solid blue;
    padding: 0 5px 0 5px;
}

.tag-border {
    border: 5px solid red;
    margin: 5px 0;
}

.nav-border {
    border: 5px solid green;
    margin: 0 5px 5px 5px;
}

.p-border {
    border: 5px solid blueviolet;
    margin: 0 5px 5px 5px;
}

.img-border {
    border: 5px solid magenta;
    margin: 0 0 0 5px;
}